.profile {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.profile__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.profile__avatar {
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  top: 40px;
}

.profile__info {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.profile__header {
  display: flex;
  flex-direction: row;
  gap: 18px;
  width: 100%;
}

.profile__header-title {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
}

.profile__header-button {
  width: 12px;
  height: 22px;
  background: url("/images/Edit\ Button.png");
  background-size: cover;
  box-sizing: content-box;
  border: none;
  margin-top: 15px;
}

.profile__header-button:hover {
  cursor: pointer;
}

.profile_explored {
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.profile__button {
  display: flex;
  margin-top: 18px;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
}

.profile__button-add:hover {
  cursor: pointer;
}
